.trackContainer {
    width: 96%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    padding: 2px 0px 2px 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.trackContainer:hover {
    background-color: lightgreen; 
}