.artistContainer {
    width: 96%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    padding: 2px 0px 2px 10px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
}

.artistContainer:hover {
    background-color: lightgreen; /* Light grey background on hover, adjust as needed */
}